:root {
  /* color */
  --c-magenta: rgb(115 44 153);
  --c-light-grey: rgb(157, 157, 157);
  --c-blue: #0378ed;
  --c-dark-blue: #01003e;
  --c-yellow: #edab00;
  --c-light-blue: #67bfea;

  /* font-families */
  --ff-roboto: 'Roboto Mono', monospace;
  --ff-gloock: 'Gloock', serif;
  --ff-orbitron: 'Orbitron', san-serif;
}
